h1   {
	color:darkblue;
	text-align: center;
	margin-top: 50px;
}

h2   {
	color:darkblue;
	text-align: center;
	margin-top: 50px;
}

p  {
	font-weight:500;
}

h3   {
	color:darkblue;
	text-align: center;
	margin-top: 50px;
}

p{
	margin-top: 100px;
}
 body  {
 	background-color: lightgray;
 }